<form [formGroup]="form">
    <section class="section">
        <h1 class="heading">1. Select a resource</h1>
        <div class="resource-container">
            <swapi-resource (click)="selectResource(Resource.PEOPLE)" [selected]="resourceFormControl.value === Resource.PEOPLE" class="resource" imageSource="assets/images/png/person.png" heading="People"></swapi-resource>
            <swapi-resource (click)="selectResource(Resource.STARSHIPS)" [selected]="resourceFormControl.value === Resource.STARSHIPS" class="resource" imageSource="assets/images/png/starship.png" heading="Starships"></swapi-resource>
        </div>
    </section>

    <section class="section">
        <h1 class="heading">2. Select an attribute</h1>
        <mat-form-field class="attribute" appearance="fill">
            <mat-label>Attribute</mat-label>
            <mat-select [formControlName]="GameFormControl.ATTRIBUTE">
                <mat-option *ngFor="let attribute of attributes$ | async" [disabled]="resourceFormControl.invalid" [value]="attribute">
                    <swapi-attribute [attribute]="attribute"></swapi-attribute>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>

    <section class="section">
        <h1 class="heading">3. Select player</h1>
        <div class="resource-container">
            <div class="resource">
                <swapi-resource (click)="selectPlayer(Player.PLAYER_ONE)" [selected]="playerFormControl.value === Player.PLAYER_ONE" imageSource="assets/images/png/player-one.png" heading="You"></swapi-resource>
                <swapi-score [player]="playerOne$ | async" class="score"></swapi-score>
            </div>
            <div class="resource">
                <swapi-resource (click)="selectPlayer(Player.PLAYER_TWO)" [selected]="playerFormControl.value === Player.PLAYER_TWO" imageSource="assets/images/png/player-two.png" heading="You (2)"></swapi-resource>
                <swapi-score [player]="playerTwo$ | async" class="score"></swapi-score>
            </div>
        </div>
    </section>

    <button (click)="playGame()" [disabled]="form.invalid" class="play-button" color="accent" mat-stroked-button>Play</button>
</form>
