<form [formGroup]="form" class="form">
    <section class="section">
        <h1 class="heading">1. Select a resource</h1>
        <div class="resource-container">
            <swapi-resource (click)="selectResource(Resource.PEOPLE)" [selected]="resourceFormControl.value === Resource.PEOPLE" [imageSource]="peopleResourceImageSource" [heading]="peopleResourceHeading" class="resource"></swapi-resource>
            <swapi-resource
                (click)="selectResource(Resource.STARSHIPS)"
                [selected]="resourceFormControl.value === Resource.STARSHIPS"
                [imageSource]="starshipsResourceImageSource"
                [heading]="starshipsResourceHeading"
                class="resource"
            ></swapi-resource>
        </div>
    </section>

    <section class="section">
        <h1 class="heading">2. Select an attribute</h1>
        <mat-form-field class="attribute" appearance="fill">
            <mat-label>Attribute</mat-label>
            <mat-select [formControlName]="GameFormControl.ATTRIBUTE">
                <mat-option *ngFor="let attribute of attributes$ | async" [disabled]="resourceFormControl.invalid" [value]="attribute">
                    <swapi-attribute [attribute]="attribute"></swapi-attribute>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>

    <section class="section">
        <h1 class="heading">3. Select player</h1>
        <div class="resource-container">
            <div class="resource">
                <swapi-resource (click)="selectPlayer(Player.PLAYER_ONE)" [selected]="playerFormControl.value === Player.PLAYER_ONE" [imageSource]="playerOneResourceImageSource" [heading]="playerOneResourceHeading"></swapi-resource>
                <swapi-score [player]="playerOne$ | async" class="score"></swapi-score>
            </div>
            <div class="resource">
                <swapi-resource (click)="selectPlayer(Player.PLAYER_TWO)" [selected]="playerFormControl.value === Player.PLAYER_TWO" [imageSource]="playerTwoResourceImageSource" [heading]="playerTwoResourceHeading"></swapi-resource>
                <swapi-score [player]="playerTwo$ | async" class="score"></swapi-score>
            </div>
        </div>
    </section>

    <swapi-wide-button (click)="playGame()" [disabled]="form.invalid" [text]="playButtonText" class="button"></swapi-wide-button>
</form>
