<ng-container *ngIf="viewState === ViewState.SUCCESS">
    <section class="section">
        <swapi-card [playerConfiguration]="playerConfiguration" [imageSource]="playerImageSource" [resourceData$]="player$" heading="Your card"></swapi-card>
        <span class="versus">vs</span>
        <swapi-card [playerConfiguration]="playerConfiguration" [imageSource]="enemyImageSource" [resourceData$]="enemy$" heading="Enemy card"></swapi-card>
    </section>

    <swapi-wide-button (click)="showResult()" text="Show result" class="button"></swapi-wide-button>
</ng-container>

<swapi-loading-state *ngIf="viewState === ViewState.LOADING"></swapi-loading-state>
<swapi-error-state *ngIf="viewState === ViewState.ERROR"></swapi-error-state>
