@use 'src/assets/styles/colors' as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-loop,
.loading-text {
    font-size: 32px;
    color: $color-blue;
}

.icon-loop {
    width: 36px;
    height: 36px;
    animation: rotate 1s linear infinite;
}

.loading-text {
    font-weight: bold;
    margin-top: 20px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
