@use 'src/assets/styles/colors' as *;

:host,
.icon-container {
    display: flex;
}

:host {
    align-items: center;
    background: $color-light-blue;
    padding: 10px;
    border-radius: 8px;
    color: $color-blue;
    overflow: auto;
}

.icon-container {
    margin-right: 10px;
}

.message {
    font-size: 16px;
    margin: 0;
}
