<section *ngIf="resourceData$ | async as resourceData" class="description">
    <p class="property">Name: {{ resourceData.name }}</p>
    <p class="property">Gender: {{ resourceData.gender }}</p>
    <p class="property">Birth year: {{ resourceData.hair_color }}</p>
    <p class="property">Eye color: {{ resourceData.eye_color }}</p>
    <p class="property">Hair color: {{ resourceData.hair_color }}</p>
    <p class="property">Height: {{ resourceData.height }}</p>
    <p class="property">Mass: {{ resourceData.mass }}</p>
</section>
